# Ensemble Technique Assignment-4

In [1]:
# So here i am taking tips dataset from seaborn for that i need to import seaborn 

import seaborn as sns

df = sns.load_dataset("tips")

In [2]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
# here i am checking null values

df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [4]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [5]:
df["size"].unique()

array([2, 3, 4, 1, 6, 5])

In [6]:
df["time"].unique()

['Dinner', 'Lunch']
Categories (2, object): ['Lunch', 'Dinner']

In [7]:
# So here i will take time as my target variable for that i need to label time in numerical form

from sklearn.preprocessing import LabelEncoder

In [8]:
encoder = LabelEncoder()

df["Time"] = encoder.fit_transform(df["time"])

In [9]:
df.head()

   total_bill   tip     sex smoker  day    time  size  Time
0       16.99  1.01  Female     No  Sun  Dinner     2     0
1       10.34  1.66    Male     No  Sun  Dinner     3     0
2       21.01  3.50    Male     No  Sun  Dinner     3     0
3       23.68  3.31    Male     No  Sun  Dinner     2     0
4       24.59  3.61  Female     No  Sun  Dinner     4     0

In [10]:
df.drop(columns = ["time"] , axis=1,inplace=True)

In [11]:
df.head()

   total_bill   tip     sex smoker  day  size  Time
0       16.99  1.01  Female     No  Sun     2     0
1       10.34  1.66    Male     No  Sun     3     0
2       21.01  3.50    Male     No  Sun     3     0
3       23.68  3.31    Male     No  Sun     2     0
4       24.59  3.61  Female     No  Sun     4     0

In [12]:
df["Time"].unique()

array([0, 1])

In [13]:
df["Time"].value_counts()

0    176
1     68
Name: Time, dtype: int64

In [14]:
# here i am splitting my data into independent and dependent variable

X = df.drop(labels = ["Time"] , axis=1)
y =df["Time"]

In [15]:
# and here i will import some libraries from sklearn

from sklearn.model_selection import train_test_split
from sklearn.pipeline import  Pipeline
from sklearn.impute import SimpleImputer  ## Handling missing values
from sklearn.preprocessing import StandardScaler ## Feature scaling
from sklearn.preprocessing import OneHotEncoder ## Categorical to Numerical
from sklearn.compose import ColumnTransformer

In [16]:
# here i will do train_test_split

X_train , X_test , y_train , y_test = train_test_split(X , y , test_size = 0.20 , random_state = 42 )

In [17]:
# here i will make list of separate columns  of categorical and numerical

num_cols = ["total_bill" , "tip" , "size"]
cate_cols = ["sex" , "smoker" , "day"]

In [18]:
# Feature engineering automation

# for Numerical Pipeline

num_pipeline = Pipeline(steps = [("Imputer" , SimpleImputer(strategy = "median")),
                                ("scaler" , StandardScaler())])

# for categorical Pipeline

cate_pipeline = Pipeline(steps = [("Imputer" , SimpleImputer(strategy = "most_frequent")),
                                  ("onehotencoder" , OneHotEncoder())])

In [19]:


preprocessor = ColumnTransformer([("num_pipeline" ,num_pipeline  , num_cols),
                                 ("cate_pipeline" , cate_pipeline , cate_cols)])

In [20]:
X_train = preprocessor.fit_transform(X_train)
X_test = preprocessor.transform(X_test)

In [21]:
X_train

array([[-0.79306155, -0.2580329 , -0.61214068, ...,  1.        ,
         0.        ,  0.        ],
       [ 0.46322744, -0.74211442, -0.61214068, ...,  1.        ,
         0.        ,  0.        ],
       [ 0.80730659,  0.6399734 , -0.61214068, ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [-1.65383098, -1.46472887, -0.61214068, ...,  0.        ,
         0.        ,  0.        ],
       [ 1.64749986,  0.32426806, -0.61214068, ...,  0.        ,
         1.        ,  0.        ],
       [ 2.75289699, -0.41237773,  0.45363997, ...,  1.        ,
         0.        ,  0.        ]])

In [22]:
# here i am importing radnom forest classifier and accurary score

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [23]:
# here i am making instance of random forest classifier

clf = RandomForestClassifier()

In [24]:
clf.fit(X_train , y_train)

RandomForestClassifier()

In [25]:
y_pred = clf.predict(X_test)

In [26]:
y_pred

array([0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1])

In [26]:
# and finally here i am checking it's accuracy

print(f"Accuracy: {accuracy_score(y_pred , y_test)}")

Accuracy: 0.9591836734693877

Q2. Build a pipellne that includes a random forest classifier and a logistic regression classifier, and then
use a voting classifier to combine their predictions. Train the pipeline on the iris dataset and evaluate its
accuracy.

In [27]:
data = sns.load_dataset("iris")

data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [29]:
# here i use label encoder to change  categorical into numerical

data["species"] = encoder.fit_transform(data["species"])

In [30]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [31]:
data["species"].unique()

array([0, 1, 2])

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

In [33]:
data.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [38]:
X = data.drop(labels = ["species"] , axis=1)
y = data["species"]

In [39]:
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [40]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int64

In [41]:
X_train , X_test , y_train , y_test = train_test_split(X , y , test_size = 0.30 , random_state = 42)

In [42]:
# since our data has no categorical variable so will make pipeline only on numerical variable

numerical_col = ["sepal_length" ,	"sepal_width" ,	"petal_length" , "petal_width"]

In [43]:
# here i am making numerical pipeline

numerical_pipeline = Pipeline(steps = [("imputer" , SimpleImputer(strategy="median")),
                                       ("scaler" , StandardScaler() )])

In [45]:
processor = ColumnTransformer(transformers = [("numerical_pipeline" , numerical_pipeline , numerical_col)])

In [47]:
X_train = processor.fit_transform(X_train)

X_test = processor.transform(X_test)

In [48]:
from sklearn.ensemble import VotingClassifier
from sklearn.linear_model import LogisticRegression

In [49]:
RFC = RandomForestClassifier()
LG = LogisticRegression()

In [52]:
voting_classifier = VotingClassifier(estimators=[("RFC" , RFC) , ("LG" , LG)] , voting = "hard")

In [53]:
voting_classifier.fit(X_train , y_train)

VotingClassifier(estimators=[('RFC', RandomForestClassifier()),
                             ('LG', LogisticRegression())])

In [55]:
y_prediction = voting_classifier.predict(X_test)

In [56]:
# here i will check accuracy

print(f"Accuracy: {accuracy_score(y_test , y_prediction)}")

Accuracy: 1.0

In [57]:
# And my assigment ends here:-